/vendor/
src/vendor/
node_modules/
npm-debug.log
yarn-error.log
notes.md
test.php
history_proc.sql
query.sql
# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
node_modules
src/public/build/
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
*/.env
.env.backup
/.idea
/.vscode
*/.DS_Store
.DS_Store
laradock/
