/******* STICKY NOTE PLUGIN CSS *******/
.sticky-note-preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.sticky-note-area__container{
    position: absolute;
    width: 0px;
    height: 0px;
}
.sticky-note {
    position:absolute;
    width: 250px;
    height: 200px;
    background: #ff8;
    padding: 0.5em 0.25em 0.75em 1em;
    display: flex;
    flex-direction:column;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: transform 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index:1;
    -webkit-backface-visibility: hidden;
}
.sticky-note:hover {
    cursor: move;
    transform: rotate(0deg);
}
.sticky-note > * {
    z-index: 1;
}
.sticky-note::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sticky-note:hover::after {
    opacity: 1;
}
.sticky-note__text {
    height: calc(100% - 25px);
    margin-top: 16px;
}
.sticky-note__text textarea {
    background: transparent;
    font-size: 20px;
    line-height: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.sticky-note__text .scrollbar-outer > .scroll-element.scroll-y {
    background: transparent;
}
.sticky-note__text .scrollbar-outer > .scroll-element .scroll-element_track {
    background: rgba(0,0,0,0.1);
}
.sticky-note__text .scrollbar-outer > .scroll-element .scroll-bar {
    background: rgba(0,0,0,0.25);
}
.sticky-note__text .scroll-wrapper {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    padding-right: 5px !important;
}
.sticky-note__text .scroll-element_outer {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.sticky-note__text:hover .scroll-element_outer {
    opacity: 1;
}
.sticky-note__text > textarea:focus {
    outline: none;
}
.sticky-note__resize {
    position: absolute;
    bottom: 6px;
    right: 0px;
    font-size: 1.1em;
    cursor: se-resize;
}
.sticky-note__resize > i {
    transform: rotate(45deg);
}
.sticky-note__rotate {
    position: absolute;
    bottom: 4px;
    left: 4px;
    font-size: 14px;
}
.sticky-note__rotate > i {
    transform: scaleY(-1);
}

.sticky-note__rotate-slider {
    position: absolute;
    /*background: rgba(0,0,0,0.1);*/
}
.sticky-note__rotate-slider-control-wrapper {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
}

.sticky-note__rotate-slider .rs-control .rs-path-color {
    background-color: rgba(255, 255, 255, 0.3);
}
.sticky-note__rotate-slider .rs-control .rs-handle {
    background-color: rgba(0, 0, 0, 0.6);
}
.sticky-note__rotate-slider .rs-control .rs-bg-color {
    background-color: RGBA(0,0,0,0);
}
.sticky-note__rotate-slider .rs-control .rs-border {
    border: 1px solid rgba(0,0,0,0.4);
}
.sticky-note__rotate-slider .rs-animation .rs-transition  {
    transition-duration: 150ms;
}
.sticky-note__rotate-slider .rs-slider-reset {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 8px;
    background: #000;
    border: 1px solid #000;
    border-radius: 7px;
    color: #fff;
    font-family: arial;
    cursor: pointer;
    z-index:3;
}
.sticky-note__rotate-slider .rs-slider-reset:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.sticky-note__rotate-slider .rs-slider-reset:active {
    top: 3px;
}
.sticky-note__close {
    position: absolute;
    top: 4px;
    right: 5px;
    cursor: pointer;
}
.sticky-note__control {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.sticky-note:hover .sticky-note__control,
.sticky-note:active .sticky-note__control {
    opacity: 1;
}

.sticky-note__control:hover,
.sticky-note__control:active {
    color: #000;
    border-color: #000;
}

.sticky-note__options {
    position: absolute;
    top: 4px;
    left: 4px;
}
.sticky-note__options-panel {
    display:none;
    position: absolute;
    left: 24px;
    top: 1px;
    width: calc(100% - 45px);
    height:24px;
}
.sticky-note__options-wrapper {
    display: flex;
    align-items: center;
    position:absolute;
    width: 100%;
    height: 100%;
}
.sticky-note__color-picker, .sticky-note__font-color-picker {
    margin-right: 2px;
}
.sticky-note__color-palette, .sticky-note__font-color-palette {
    position: absolute;
    top: 22px;
    display: none;
    z-index: 1;
}
.sticky-note__color-palette-panel, .sticky-note__font-color-palette-panel {
    display: flex;
    flex-wrap: wrap;
    width: 96px;
    padding:4px;
    background-color: #fdfdfd;
    box-shadow: 0px 2px 4px rgba(0,0,0.25);
}
.sticky-note__color-palette-panel > .sticky-note__color,
.sticky-note__font-color-palette-panel >
.sticky-note__font-color {
    margin: 4px;
    height: 14px;
    width: 14px;
    border: 1px solid #333;
}
.sticky-note__font-increase,
.sticky-note__font-decrease {
    position: relative;
    margin-right:6px;
}
.sticky-note__font-increase>i:not(:first-of-type) {
    font-size:8px;
    position: absolute;
    top: 0px;
    left: 11px;
}
.sticky-note__font-decrease>i:not(:first-of-type) {
    font-size:6px;
    position: absolute;
    top: 0px;
    left: 10px;
}
.sticky-note__font-bold {
    margin-right:2px;
}
.sticky-note__text-area--bold {
    font-weight: bold;
}
.sticky-note__control--enabled {
    background: rgba(0,0,0,0.1);
}
